In [1]:
import pandas as pd
pd.set_option('display.max_columns', 47)
df = pd.read_csv('kc_house_data.csv')

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df.drop("id", axis = 1, inplace = True)
df.drop("date", axis = 1, inplace = True)
df.drop("zipcode", axis = 1, inplace = True)
df.drop("lat", axis = 1, inplace = True)
df.drop("long", axis = 1, inplace = True)

In [4]:
from sklearn.linear_model import LinearRegression
modelo = LinearRegression()

In [5]:
y = df["price"]
x = df.drop("price", axis = 1)

In [6]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.30, random_state=14)

In [7]:
modelo.fit(x_treino, y_treino)
resultado = modelo.score(x_teste, y_teste)
print(resultado)

0.6538094196280897

In [8]:
from sklearn.linear_model import Ridge
modelo2 = Ridge(alpha=10)
modelo2.fit(x_treino, y_treino)
resultado2 = modelo2.score(x_teste, y_teste)
print(resultado2)

0.6545037069731696

In [9]:
from sklearn.linear_model import Lasso
modelo3 = Lasso(alpha=1000, max_iter=1000, tol=0.1)
modelo3.fit(x_treino, y_treino)
resultado3 = modelo3.score(x_teste, y_teste)
print(resultado3)

0.6547706041742776

In [10]:
from sklearn.linear_model import ElasticNet
modelo4 = ElasticNet(alpha=1, l1_ratio=0.9, tol=0.2, max_iter=5000)
modelo4.fit(x_treino, y_treino)
resultado4 = modelo4.score(x_teste, y_teste)
print(resultado4)

0.6429961330013111