In [1]:
import pandas as pd
df = pd.read_csv('Admission_Predict.csv')

In [2]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.drop('Serial No.', axis=1, inplace=True)

In [4]:
y = df['Chance of Admit ']
x = df.drop('Chance of Admit ', axis=1)

In [5]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LinearRegression

In [6]:
model = LinearRegression()
kfold = KFold(n_splits = 5)
resultado = cross_val_score(model, x, y, cv = kfold)

In [7]:
print(resultado)

[0.66228895 0.76112209 0.78108683 0.84044015 0.81095904]

In [8]:
print(resultado.mean())

0.7711794121066358