# **Validação Cruzada com K-Fold**

Este notebook tem como objetivo explorar e aplicar a técnica de **validação cruzada K-Fold**. 

## **O que é Validação Cruzada K-Fold?**
É uma técnica estatística utilizada para avaliar a performance de modelos de machine learning. Ela consiste em dividir o conjunto de dados em **K partes (ou folds)**, onde o modelo é treinado em K-1 partes e testado na parte restante. Esse processo é repetido K vezes, garantindo que cada parte seja utilizada como conjunto de teste exatamente uma vez.

## **Objetivos**
- Implementar a técnica de validação cruzada K-Fold.
- Avaliar a performance de modelos de machine learning utilizando diferentes métricas.
- Comparar os resultados obtidos com e sem validação cruzada.

A validação cruzada é uma etapa fundamental para garantir que o modelo generalize bem para novos dados, evitando problemas como overfitting ou underfitting.

In [ ]:
import pandas as pd
from sklearn.model_selection import cross_val_score, KFold, train_test_split
from src.utils import *

pd.set_option('display.max_columns', None)  
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('../base/Admission_Predict.csv')
df.drop(columns=['Serial No.'], inplace=True)

In [3]:
df.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research  Chance of Admit
0        337          118                  4  4.5   4.5  9.65         1              0.92
1        324          107                  4  4.0   4.5  8.87         1              0.76
2        316          104                  3  3.0   3.5  8.00         1              0.72
3        322          110                  3  3.5   2.5  8.67         1              0.80
4        314          103                  2  2.0   3.0  8.21         0              0.65

In [13]:
# preditora e target
x = df.drop(columns=['Chance of Admit '])
y = df['Chance of Admit ']

In [ ]:
# resultados dos modelos com k-fold
modelos_lineares_kf(x, y)

Resultados dos modelos:
Regressão Linear Simples: R² médio = 0.7820
Regressão Ridge: R² médio = 0.7821
Regressão Lasso: R² médio = 0.2242
Regressão ElasticNet: R² médio = 0.5216